<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="min-height: 300px;">
                <img class="position-relative w-100" src="assets/img/carousel-1.jpg" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">MANAGE YOUR COLLEGE LIFE</h5>
                        <h1 class="display-3 text-white mb-md-4">Manage your Assignments, Notes, Exam Schedule</h1>
                        <button class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="assets/img/carousel-2.jpg" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">MANAGE YOUR COLLEGE LIFE</h5>
                        <h1 class="display-3 text-white mb-md-4">Keep a track on your Grades</h1>
                        <button class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="assets/img/carousel-3.jpg" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">MANAGE YOUR COLLEGE LIFE</h5>
                        <h1 class="display-3 text-white mb-md-4">Get information about Internships</h1>
                        <button class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/about.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5>
                    <h1>Platform to manage your College Life</h1>
                </div>
                <p><span class="text-primary">DecodeCollege</span> provides you different features in which one can manage his/her college's academics and other areas also. Users can manage Assignments, Notes and can also keep a track on their grades. They can also add their Exams Schedule and get reminders on upcoming exams.</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Virtual Beings</h5>
            <h1>Meet Our Team</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid img-size" src="assets/team/sourav.jpg" alt="Sourav Aggarwal">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="https://twitter.com/souravagg01" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="https://github.com/100RAV-AGGARWAL" target="_blank"><i class="fab fa-github"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="https://www.linkedin.com/in/sourav-aggarwal/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Sourav Aggarwal</h5>
                        <p class="m-0">Web Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid img-size" src="assets/team/varun.jpeg" alt="Varun Narang">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="https://twitter.com/VarunNa92666418" target="_blank" ><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="https://github.com/varun1256" target="_blank"><i class="fab fa-github"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="https://www.linkedin.com/in/varun-narang-a89aa2204/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Varun Narang</h5>
                        <p class="m-0">Web Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid img-size" src="assets/team/padam.jpg" alt="Padam Bhardwaj">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="https://twitter.com/padambhardwaj10" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="https://github.com/PadamBhardwaj" target="_blank"><i class="fab fa-github"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="https://www.linkedin.com/in/padam-bhardwaj-25486b185/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Padam Bhardwaj</h5>
                        <p class="m-0">Web Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid img-size" src="assets/team/nishant.jpg" alt="Nishant Singhal">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="https://twitter.com/_NishantSinghal" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="https://github.com/NishantSinghal19" target="_blank"><i class="fab fa-github"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="https://www.linkedin.com/in/nishant-singhal19/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Nishant Singhal</h5>
                        <p class="m-0">Web Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->