<section class="section wb">
	<div class="container">
		<h1>Reset Password</h1>
		<form class="form-signin" (ngSubmit)="resetpassword()" #resetpasswordForm="ngForm">
			<mat-form-field class="example-full-width">
				<input matInput type="password" placeholder="Password" [(ngModel)]="user.password" value=""
					name="password" required />
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input matInput type="password" placeholder="Retype Password" [(ngModel)]="user.retypepassword" value=""
					name="retypepassword" required />
			</mat-form-field>
			<p>
				<button mat-raised-button color="primary">
					Reset Password
				</button>
			</p>
		</form>
	</div>
</section>