<section class="section wb">
	<div class="container">
		<h1>Forgot Password</h1>
		<form class="form-signin" (ngSubmit)="forgotpassword()" #forgotpasswordForm="ngForm">
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Email Id" [(ngModel)]="emailId.username" value="" name="username"
					required />
			</mat-form-field>
			<p>
				<button mat-raised-button color="primary" [disabled]="!forgotpasswordForm.form.valid">
					Reset Password
				</button>
			</p>
		</form>
	</div>
</section>