<section class="container-fluid py-5">
	<div class="container py-5">
		<div class="text-center">
			<h2>Public Notes</h2>
		</div>
	<div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let note of notesList">
                <div class="rounded overflow-hidden mb-2">
                 <img class="img-fluid" src="assets/img/notes.jpg" alt=""> 
                    <div class="bg-secondary p-4">
						Name: {{note.name}}<br>
						Subject: {{note.subject.name}}<br><br>
                        <div class="d-flex justify-content-between mb-3">
							<a mat-raised-button color="warn"
							[routerLink]="['/notes/public/view/' + note._id]">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="text-center">
            <a *ngIf="!isListEmpty" class="text-primary m-0 a-link-custom" (click)="loadNextPage()">Load More</a>
        </div>
	</div>
</section>

