<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form validate-form" (ngSubmit)="login()" #loginForm="ngForm">
				<h2 class="text-center">
					Login
				</h2>

				<div class="control-group">
					<mat-form-field class="form-control border-0 p-4 validate-input">
						<input matInput placeholder="Email Id" [(ngModel)]="loginData.username" value="" name="username"
							required>
					</mat-form-field>
				</div>

				<div class="control-group">
					<mat-form-field class="form-control border-0 p-4 validate-input">
						<input type="password" matInput placeholder="Password" [(ngModel)]="loginData. password"
							value="" name="password" required>
					</mat-form-field>
				</div>

				<div class="text-center pt-3">
					<button class="btn btn-primary rounded-lg py-1 px-4" mat-raised-button
						[disabled]="!loginForm.form.valid">Login</button>
				</div>

				<div class="text-center pt-2">
					<a class="txt1" [routerLink]="['/user/forgot']">
						Forgot Password?
					</a>
				</div>

				<div class="text-center pt-4">
					<a [routerLink]="['/user/signup']">
						Create your Account
						<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					</a>
				</div>
			</form>
		</div>
	</div>
</div>