<div class="container-fluid py-5">
	<div class="container py-5">
		<div class="text-center">
			<h2>Grades Calculator</h2>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="contact-form rounded p-5">
					<div id="success"></div>
					<form class="example-form" (ngSubmit)="handleSubmit()" #noteForm="ngForm">
						<div class="control-group  text-center" *ngFor="let subject of subjectList;let i=index">
							<label class="">{{subject.name}}</label>
							<input matInput name="marks" [(ngModel)]="gradesarr[i].marks" placeholder="Marks"
								type="Number" value="subject._id">
							<!-- <mat-form-field class="form-control border-0 p-4"> -->
							<!-- <mat-select name="subject" placeholder="Subject" [(value)]="note.subject._id"> -->
							<!-- <label *ngFor="let subject of subjectList" [value]="subject._id"> -->
							<!-- <label *ngFor="let subject of subjectList">
									{{subject.name}}
								</label> -->
							<!-- </mat-select> -->
							<!-- </mat-form-field> -->
							<!-- <p class="help-block text-danger"></p> -->
						</div>
						<!-- <div class="control-group">
							<mat-form-field class="form-control border-0 p-4">
								<input matInput name="name" [(ngModel)]="note.name" placeholder="Name" value="">
							</mat-form-field>
							<p class="help-block text-danger"></p>
						</div>
						<div class="control-group">
							<mat-form-field class="form-control border-0 p-4">
								<mat-select name="status" placeholder="Status" [(value)]="note.status">
									<mat-option *ngFor="let status of statusList" [value]="status.name">
										{{status.name}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<p class="help-block text-danger"></p>
						</div>
						<div class="control-group pt-5 pl-4">
							<input class="form-control border-0" type="file" name="file" ng2FileSelect
								[uploader]="uploader" (change)="uploader.uploadAll()">
							<p class="help-block text-danger"></p>
						</div>-->

						<div class="text-center pt-3">
							<button class="btn btn-primary rounded-pill py-2 px-5 mg-9" color="primary">Submit</button>
						</div>
						<!-- <div class="text-centre pt-3">
						</div> -->
					</form>
					<form class="example-form" *ngIf="isGradeVisible==true" (ngSubmit)="handleSubmitSave()"
						#noteForm="ngForm">

						<div class="text-center justify-content-center">
							<h4>Your CGPA : {{CGPA | number:'1.2-2'}}</h4>
						</div>
						<div class="text-center pt-3">
							<button class="btn btn-primary rounded-pill py-2 px-5" color="btn-primary"
								type="submit">Save Grade</button>
						</div>
					</form>
					<div class="justify-content-center text-center">
						<button class="btn btn-primary rounded-pill py-2 px-5" color="btn-primary" (click)="reset()"
							*ngIf="isGradeVisible==true">Reset </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <div>Grade form works</div> -->