<div class="container-fluid py-5">
	<div class="container py-5">
		<div class="text-center">
			<h2>My Assignments</h2>
		</div>
		<div *ngIf="!isListEmpty" class="mat-elevation-z2">
			<div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
				<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
				<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
					GitHub's API rate limit has been reached. It will be reset in one minute.
				</div>
			</div>
			<p class="text-center">Subject Filter: <input type="text" (keyup)="applyFilter($event)"></p>
			<table class="table-responsive-custom" mat-table [dataSource]="examList" matSort
				matSortActive="deadline" matSortDisableClear matSortDirection="asc">
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Name </th>
					<td mat-cell *matCellDef="let element"> {{element.name}} </td>
				</ng-container>
				<ng-container matColumnDef="subject">
					<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Subject </th>
					<td mat-cell *matCellDef="let element"> {{element.subject.name}} </td>
				</ng-container>
				<ng-container matColumnDef="deadline">
					<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Deadline </th>
					<td mat-cell *matCellDef="let element"> {{element.deadline | date:'medium'}} </td>
				</ng-container>
				<ng-container matColumnDef="status">
					<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Status </th>
					<td mat-cell *matCellDef="let element"> {{element.status}} </td>
				</ng-container>
				<ng-container matColumnDef="edit">
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let element"> <a
							[routerLink]="['/assignment/edit/' + element._id]">Edit</a></td>
				</ng-container>
				<ng-container matColumnDef="view">
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let element"> <a
							[routerLink]="['/assignment/view/' + element._id]">View</a></td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedCols"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedCols;">
				</tr>

			</table>
			<mat-paginator [length]="pagination.total" [pageSize]="pagination.limit"
				[pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]="pagination.pageIndex" (page)="loadNextPage($event)"
				showFirstLastButtons aria-label="Select page">
			</mat-paginator>
		</div>
		<div *ngIf="isListEmpty" class="text-center pt-3">
			<h5 class="text-danger m-0">No assignments found</h5>
			<div class="pt-3">
				<button class="btn btn-primary rounded-pill py-2 px-4" [routerLink]="['/assignment/post']"
					color="primary">Add Assignment</button>
			</div>
		</div>
	</div>
</div>