<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form validate-form" (ngSubmit)="signup()" #signupForm="ngForm">
				<h2 class="text-center">
					Signup
				</h2>

				<div class="control-group">
					<mat-form-field class="form-control border-0 p-4 validate-input">
						<input matInput placeholder="First Name" name="first" [(ngModel)]="signupData.first" required>
					</mat-form-field>
				</div>

				<div class="control-group">
					<mat-form-field class="form-control border-0 p-4 validate-input">
						<input matInput placeholder="Last Name" name="last" [(ngModel)]="signupData.last" required>
					</mat-form-field>
				</div>
				<div class="control-group">
					<mat-form-field class="form-control border-0 p-4 validate-input">
						<input type="email" matInput placeholder="Email id" name="email" [(ngModel)]="signupData.email" required>
					</mat-form-field>
				</div>
				<div class="control-group">
					<mat-form-field class="form-control border-0 p-4 validate-input">
						<input type="email" matInput placeholder="Phone No." name="phone" [(ngModel)]="signupData.phone" required>
					</mat-form-field>
				</div>
				<div class="control-group">
					<mat-form-field class="form-control border-0 p-4 validate-input">
						<input matInput type="password" placeholder="Password" name="password"
							[(ngModel)]="signupData.password" required>
					</mat-form-field>
				</div>
				<div class="control-group">
					<mat-form-field class="form-control border-0 p-4 validate-input">
						<input matInput type="password" placeholder="RetypePassword" name="retypepassword"
							[(ngModel)]="signupData.retypedpassword" required>
					</mat-form-field>
				</div>

				<div class="text-center pt-3">
					<button class="btn btn-primary rounded-lg py-1 px-4" mat-raised-button
						[disabled]="!signupForm.form.valid">Signup</button>
				</div>
			</form>
		</div>
	</div>
</div>