<div class="container-fluid py-5">
	<div class="container py-5">
		<div class="text-center">
			<h2>Subject</h2>
		</div>
        <div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="contact-form rounded p-5">
					<div id="success"></div>
					<form class="example-form" (ngSubmit)="saveSubject()" #noteForm="ngForm">
						<div class="control-group">
							<mat-form-field class="form-control border-0 p-4">
								<mat-select name="semesterno" placeholder="Semester No" [(value)]="subject.semester">
									<mat-option *ngFor="let semester of semesterList" [value]="semester.no">
										{{semester.no}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<p class="help-block text-danger"></p>
						</div>
						<div class="control-group">
							<mat-form-field class="form-control border-0 p-4">
								<input matInput name="name" [(ngModel)]="subject.name" placeholder="Name" value="">
							</mat-form-field>
							<p class="help-block text-danger"></p>
						</div>
						 <div class="control-group">
							<mat-form-field class="form-control border-0 p-4">
								<input matInput name="subjectcode" [(ngModel)]="subject.subjectcode" placeholder="Subject Code" value="">
							</mat-form-field>
							<p class="help-block text-danger"></p>
						</div>
                        <div class="control-group">
							<mat-form-field class="form-control border-0 p-4">
								<input matInput name="credits" [(ngModel)]="subject.credits" placeholder="credits" type="number" value="">
							</mat-form-field>
							<p class="help-block text-danger"></p>
						</div>
						<div class="text-center pt-3">
							<button class="btn btn-primary rounded-pill py-2 px-5 " color="primary"
								ng-disabled="!updateEnabled">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>

        </div>
        </div>
